<!DOCTYPE HTML>
<html>
	<head>
		<title>Thank you!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='engineer.ico') }}">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body>
		<div id="wrapper">
			<div class="content">
				<div class="soft">
					<h1>Thank you, {{name}}</h1>
					<p>Will get back to you ASAP.</p>
					<span class="image main"><img src="./static/images/thankyou.jpg" alt="" /></span>
				</div>
			</div>
		</div>	
	</body>	
</html>
